@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter+Tight:wght@300&family=Montserrat:wght@300&family=Red+Hat+Display&family=Sarabun&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.fondo{
	background-color: #eaead9;
}

.navbar-nav{
	background-color: #eaead9;

}
.nav-item{
	color: #114B5F;
	font-family: 'Inter Tight', sans-serif;
	font-size:x-large;
	transition: all 1s;
}
.nav-item:hover{
	width: 200px;
	background: #c9cbcf;
}

h1 {
	color: #2e4942;
	font-weight: normal;
	font-size: 60px;
	font-family: 'Red Hat Display', sans-serif;
	text-align:center;
	gap: 1rem;
  }
h2 {
	color: #2e4942;
	font-weight: normal;
	font-size: 40px;
	font-family: 'Inter Tight', sans-serif;
	text-align: center;
	padding: 1rem;
  }
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: x-large;	
	color: #2e4942;
	text-decoration: underline;
	padding: 1rem;
  }

.acerca-de {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "foto texto";
	display: grid;
}

.img-perfil {
	display: flex;
	grid-area: foto;
	margin: 1rem;
	width: 500px;
	height: 400px;
	background-color: #a9bcd0;	
	border-radius: 2rem;
  }
.texto-acerca-de {
	display: flex;
	grid-area: texto;
	padding: 1rem;
	margin: 1rem;
	text-align:justify;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.proyectos {
	padding: 2rem;
	display: grid;
	height: 900px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "item1 item2" 
						 "item3 item4";
	gap: 2rem;
	transition: all 1s;
}
	
.grid1 {
	grid-area: item1;
	background-color: #DFBBB1;
	padding: 1rem;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	}

.img-proyecto1{
	width: 400px;
	height: 300px;
	margin-left: 4rem;
	margin: 0 auto;
	}
	
.grid2 {
	grid-area: item2;
	background-color: #BCD2EE;
	padding: 1rem;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	}

.img-proyecto2{
	width: 400px;
	height: 300px;	
	margin-left: 4rem;
	margin: 0 auto;
}
.grid3 {
	grid-area: item3;
	background-color: #AFD0BF;
	padding: 1rem;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
}
.img-proyecto3{
	width: 400px;
	height: 300px;	
	margin-left: 2rem;
	margin: 0 auto;

}
.grid4{
	grid-area: item4;
	background-color: #adb5bd;
	padding: 1rem;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
}

.img-proyecto4{
	width: 400px;
	height: 300px;
	margin-left: 4rem;
	margin: 0 auto;
}
	
.servicios {
	text-align:center;
	line-height: 30px;
	font-family: 'Comfortaa', cursive;
	}

.texto-servicios{
	text-align: justify;
	padding: 2rem;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
	
.experiencia {
	line-height: 30px;
	font-family: 'Comfortaa', cursive;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "experiencia1 experiencia2"
						 "experiencia1 experiencia3";
	gap: 2rem;
}

.grid-experiencia1{
	grid-area: experiencia1;
	background-color: #c9cbcf;
	padding: 1rem;
	border-radius: 1rem;
	height: fit-content;
}
.texto-experiencia1{
	text-align:left;
	padding: 1rem;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
}
.grid-experiencia2{
	grid-area: experiencia2;
	background-color: #c9cbcf;
	padding: 1rem;
	border-radius: 1rem;
	height: fit-content;
}
.texto-experiencia2{
	text-align:left;
	padding: 1rem;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
}
.grid-experiencia3{
	grid-area: experiencia3;
	background-color: #c9cbcf;
	padding: 1rem;
	border-radius: 1rem;
	height: fit-content;
}
.texto-experiencia3{
	text-align:left;
	padding: 1rem;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
}

.container{
	max-width: 800px;
	height: 600px;
	background: #fff;
	margin: 50px auto;
	box-shadow: 0 0 20px rgba(72,98,85, 0.6);
	box-sizing: border-box;
	padding: 40px;
  }
  
  p{
	text-align: center;
	letter-spacing: 1px;  
	font-size: 45px;
	margin-bottom: 20px;
	color: #486255;
  }
  
  .input,
  .msg .area{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 2px solid #e9eaea;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	transform: 0.5s ease;
  }
  
  .login .input{
	width: 48%;
	float: left;
	margin-right: 4%;
  }
  
  .login .input:last-child{
	margin-right: 0;
  }
  
  .msg .area{
	height: 200px;
  }
  
  .btn{
	width: 150px;
	background: #486255;
	height: 60px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
  }
  
  .input:focus,
  .msg .area:focus{
	border: 2px solid #486255;
  }

.footer{
	background-color: #7F9172;
	padding: 3rem;
	text-align: end;	
	display: flex;
}

.link-footer{
	text-decoration: underline;
	line-height: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: larger;
	color: #fff;
	padding-right: 1rem;

}
.mail-footer{
	text-decoration: none;
	line-height: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: larger;
	color: #fff;
	padding-right: 1rem;
}

.envelope{
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	.img-perfil{
		width: 400px;
		height: 300px;
		margin: auto;
	}
	.acerca-de{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr, 1fr;
		grid-template-areas: "foto"
							"texto";
		display: flex;
		flex-direction: column;
		align-items: center;					
	}

	.proyectos{
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "item1"
							 "item2"
							 "item3"
							 "item4";
		align-items: center;					 
		height: max-content;
	}

	.experiencia {
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "experiencia1"
							 "experiencia2"
							 "experiencia3";	
	}
}