@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter+Tight:wght@300&family=Montserrat:wght@300&family=Red+Hat+Display&family=Sarabun&display=swap');

$fontComfortaa: 'Comfortaa', cursive;
$fontInterTight: 'Inter Tight', sans-serif;
$fontMonserrat: 'Montserrat', sans-serif;
$fontRedHat: 'Red Hat Display', sans-serif;
$mainColor: #eaead9;
$colorNav: #114B5F;
$colorTitulos: #2e4942;
$colorFooter: #7F9172;
